<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bottom Navigation_apply</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- 필요한 Vue.js와 Vuetify.js의 자바스크립트 연결 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-card class="mx-auto mt-6" max-width="450">
                    <v-img :src="`https://picsum.photos/id/${randomPic}/0/0/`" height="200px"></v-img>
                    <v-list-item three-line>
                        <v-list-item-content>
                            <div class="text-overline mb-4">
                                선택메뉴
                            </div>
                            <v-list-item-title class="text-h5 mb-5">
                                {{ btnList[sSelect].text }}
                            </v-list-item-title>
                            <v-list-item-subtitle>{{ btnList[sSelect].text }} 메뉴를 선택하셨습니다.</v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-avatar tile size="130" color="grey">
                            <v-icon color="white" size="50">{{ btnList[sSelect].icon }}</v-icon>
                        </v-list-item-avatar>
                    </v-list-item>

                    <v-card-actions>
                        <v-btn text color="teal accent-4" @click="reveal = true">
                            상세
                        </v-btn>
                    </v-card-actions>

                    <v-expand-transition>
                        <v-card v-if="reveal" class="transition-fast-in-fast-out v-card--reveal" style="height: 100%;">
                            <v-card-text class="pb-0">
                                <p class="text-h4 text--primary">
                                    상세
                                </p>
                                <p> Vuetify 공식 문서를 보고 응용하여, 생성해보았습니다.<br>
                                    <b>'{{ btnList[sSelect].text }}'</b>의 상세 내용입니다.
                                </p>
                            </v-card-text>
                            <v-card-actions class="pt-0">
                                <v-btn text absolute bottom color="teal accent-4" @click="reveal = false">
                                    닫기
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-expand-transition>
                </v-card>
            </v-main>

            <v-footer>
                <!-- step07 응용. 버튼 색상 강조 추가 -->
                <v-bottom-navigation absolute v-model="sSelect" dark>
                    <v-btn v-for="(val, idx) of btnList" 
                        :key="idx" 
                        :class="{ selectBtn : isSelected(val,idx) }"
                        @click="clickMenu">
                        {{ val.text }}
                        <v-icon>{{ val.icon }}</v-icon>
                    </v-btn>
                </v-bottom-navigation>
            </v-footer>
        </v-app>
    </div>
</body>

<script>
    const app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                sSelect: 0,
                btnList: [
                    { text: '즐겨찾기', icon: 'star' },
                    { text: '지하철', icon: 'directions_subway' },
                    { text: '버스', icon: 'directions_bus' },
                    { text: '도보', icon: 'directions_walk' },
                    { text: '자전거', icon: 'directions_bike' },
                ],
                reveal: false,
                randomPic: 900+Math.floor(Math.random()*50),
            }
        },
        computed: {
            isSelected() {
                return (val, idx) => this.sSelect == idx;
            }
        },
        methods: {
            clickMenu() {
                this.reveal = false;
                this.randomPic = 900+Math.floor(Math.random()*50);
            }
        }
    })
</script>
<style>
    .selectBtn {
        color: goldenrod !important;
    }

    .v-card--reveal {
        bottom: 0;
        opacity: 1 !important;
        position: absolute;
        width: 100%;
    }
</style>

</html>